#title{
    background-color: #ff4c68;
    height: 700px;
    overflow: hidden;
}

h1{
   font-family: 'Montserrat-black', sans-serif;
   size: 3rem;
   line-height: 1.5;
   font-weight: 900;
   color: white;
   margin-top: 100px;
   margin-bottom: 50px;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.container-fluid{
    padding: 3% 15%;
}

.dog-in-iphone-img{
    transform: rotate(20deg);
    height: 70%;
    margin-top: 100px;
}

.nav-item{
    margin-right: 50px;
}

.navbar{
    padding-left: 0;
}

.btn{
    margin-right: 20px;
}

p{
    color: #8f8f8f;
}

h3{
    font-family: 'Montserrat-bold', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}

.feature-icons{
    font-size: 5rem; 
    color: #ef8172;
}

.feature-icons:hover{
    color: #ff4c68;
}

#features{
    text-align: center;
    padding: 10% 15%;
}